body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(176, 211, 245);
} 
.bmi{
  background-color: white;
  border: 2px solid black;
  margin: 10vh auto;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: blue;
}
.inputsec, .outputsec{
  font-weight: 800;
  max-width: 30vw;
}
.input{
  max-width: 70vh;
}
.out{
  background-color: blue;
  color: white;
  padding: 10px 5px;
  font-weight: 900;
  border-radius: 9999px;
  text-align: center;
}